/* display external links with icon */
div.md-content a[href^="http://"]:not([href*="lowhangingfruit.gitlab.io"]):after,
div.md-content a[href^="https://"]:not([href*="lowhangingfruit.gitlab.io"]):after,
div.md-content a[href^="//"]:not([href*="lowhangingfruit.gitlab.io"]) {
    font-family: "FontAwesome";
    content: " \f08e";
    font-weight: normal;
    font-style: normal;
    font-size: 70%;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
}
